<p id="notice"><%= notice %></p>


<td><%= link_to 'Edit', edit_customer_path(current_customer) %></td>
<td><%= link_to 'Search Cars', cars_path%></td>
<td><%= link_to 'View Checkout History'%></td>

