<p id="notice"><%= notice %></p>

<p>Hey, <%= @customer.name %>!</p>

<%= link_to 'Update Profile', edit_customer_path(@customer) %>

<%= link_to 'View Reservation History', edit_customer_path(@customer) %>




<h3>Active reservation</h3>

