
<h1>New <%= @user_type%></h1>

<%= render 'form', customer: @customer %>
<%if false%>
    <%= link_to 'Back', customers_path %>
<%end %>
<%if current_customer != 'customer'%>
    <%= link_to 'Back to manage admins', manage_admins_path%>
<%end%>